@page "/Admin"
@inject CourseService CourseService
@inject IToastService ToastService
@inject NavigationManager UriHelper

<h3 style="text-align:center">
    Administration
</h3>
<p style="text-align:center">
    Welcome to the Admin Panel
</p>

<br />
<br />

<h3 style="text-align:center"> Please select from the following</h3>

<div style="text-align: center; font-size: 270px; width: 100%;">
    <div class="dropdown" style="display: inline-block; vertical-align: top; font-size:15px;">
        <button class="dropbtn">Add to System</button>
        <div class="dropdown-content">
            <a href="Admin/AddCourse">Add Course</a>
            <a href="Admin/AddDegree">Add Degree</a>
            <a href="Admin/AddPrerequisite">Add Prerequisite</a>
            <a href="Admin/AddCourseToDegree">Add Course to Degree</a>
            <a href="#">Add Course to Major </a>
            <a href="#">Add Major to Degree</a>
            <a href="#">Add Course Availability</a>
        </div>
    </div>
    <div class="dropdown" style="display: inline-block; vertical-align: top; font-size:15px;">
        <button class="dropbtn">Remove from System</button>
        <div class="dropdown-content">
            <a href="Admin/AddCourse">Remove Course</a>
            <a href="Admin/AddDegree">Remove Degree</a>
            <a href="Admin/AddPrerequisite">Remove Prerequisite</a>
            <a href="Admin/AddCourseToDegree">Remove Course to Degree</a>
            <a href="#">Remove Course to Major </a>
            <a href="#">Remove Major to Degree</a>
            <a href="#">Remove Course Availability</a>
        </div>
    </div>
</div>

          
@*<div style=" display: inline-block; align-items: center; justify-content: center;">
    <button class="active" @onclick="@Navigate1">Add Course</button>
</div>
<div style="display: inline-block; align-items: center; justify-content: center; ">
    <button class="active" @onclick="@Navigate2">Add Degree</button>
</div>
<div style="display: inline-block; align-items: center; justify-content: center; ">
    <button class="active" @onclick="@Navigate3">Add Prerequisite</button>
</div>
<div style="display: inline-block; align-items: center; justify-content: center; ">
    <button class="active" @onclick="@Navigate4">Add Course to Degree</button>
</div>
<div style="display: inline-block; align-items: center; justify-content: center; ">
    <button class="active" @onclick="@Navigate5">Add Course to Major</button>
</div>
<div style="display: inline-block; align-items: center; justify-content: center; ">
    <button class="active" @onclick="@Navigate6">Add Major to Degree</button>
</div>
<div style="display: inline-block; align-items: center; justify-content: center; ">
    <button class="active" @onclick="@Navigate7">Add Course Availability</button>
</div>*@

@code
{
        {
    //void Navigate1()
    //{
    //    UriHelper.NavigateTo("Admin/AddCourse");
    //}

    //void Navigate2()
    //{
    //    UriHelper.NavigateTo("Admin/AddDegree");
    //}
    //void Navigate3()
    //{
    //    UriHelper.NavigateTo("Admin/AddPrerequisite");
    //}
    //void Navigate4()
    //{
    //    UriHelper.NavigateTo("Admin/AddCourseToDegree");
    //}
    //void Navigate5()
    //{
    //    UriHelper.NavigateTo("#");
    //}
    //void Navigate6()
    //{
    //    UriHelper.NavigateTo("#");
    //}
    //void Navigate7()
    //{
    //    UriHelper.NavigateTo("#");
    //}

}
