@page "/"
@inject DegreeService degreeService
@inject CourseService courseService

<h1 class="heading-for-landing">Welcome to Chronos!</h1>
<div>
    <section>
        <h4 class="heading-for-landing">Please insert your information below:</h4>
        <hr /> <!--Using Horizontal Lines to break up the page.-->
        <br />
        <div class="form-alignment-center">
            <!--Creating a Div to enclose all of the related forms below. -->
            <form action="login" method="POST">
                <div class="degree-div">
                    <h4>Choose your Degree</h4>
                    <!--This is a razor component that will effectively search for different Degrees based on their Names.-->
                    <BlazoredTypeahead SearchMethod="SearchDegrees" @bind-Value="SelectedDegree" placeholder="Please search for your degree...">
                        <SelectedTemplate Context="degree">
                            <!--This is the search Template and what will be returned.-->
                            Bachelor Of @degree.Name
                        </SelectedTemplate>
                        <ResultTemplate Context="degree">
                            <!--This is what is shown when it is selected.-->
                            Bachelor Of @degree.Name
                        </ResultTemplate>
                    </BlazoredTypeahead>

                    <BlazoredTypeahead SearchMethod="SearchMajors" @bind-Value="SelectedDegree" placeholder="Please search for your degree...">
                        <SelectedTemplate Context="degree">
                            <!--This is the search Template and what will be returned.-->
                            Bachelor Of @degree.Name
                        </SelectedTemplate>
                        <ResultTemplate Context="degree">
                            <!--This is what is shown when it is selected.-->
                            Bachelor Of @degree.Name
                        </ResultTemplate>
                    </BlazoredTypeahead>

                </div>
                <div class="semester-div">
                    <!--Another Div to break up spacing on the page, this is for the Semester type.-->
                    <h4>Choose your semester</h4>
                    <select name="semester" class="semester-selection">
                        <!--Selection that allows for the Semester type a student is undertaking.-->
                        <option value=""> Select a Semester Type</option>
                        <option value="Semester">Semester 1/2</option>
                        <option value="Part Time">Part Time Semester</option>
                        <option value="Trimester">Trimester</option>
                        <option value="SemesterWithAdditional">Semester 1/2 but willing to do Winter/Summer courses.</option>
                    </select>
                </div>
                <br />
                <h4>What campuses are you able to attend?</h4>
                <div class="checklistColumns">
                    <!--A div to allow columns for the checkboxes for the choice of Campuses.-->
                    <input type="checkbox" id="Callaghan" name="Callaghan" value="Callaghan" />
                    <label for="Callaghan">Callaghan Campus</label><br />
                    <input type="checkbox" id="Newcastle" name="Newcastle" value="Newcastle" />
                    <label for="Newcastle">Newcastle Campus</label><br />
                    <input type="checkbox" id="Ourimbah" name="Ourimbah" value="Ourimbah" />
                    <label for="Ourimbah">Ourimbah Campus</label><br />
                    <input type="checkbox" id="Port Macquarie" name="Port Macquarie" value="Port Macquarie" />
                    <label for="Port Macquarie">Port Macquarie Campus</label><br />
                    <input type="checkbox" id="Signapore" name="Signapore" value="Signapore" />
                    <label for="Signapore">Signapore Campus</label><br />
                    <input type="checkbox" id="Sydney" name="Sydney" value="Sydney" />
                    <label for="Sydney">Sydney Campus</label><br />
                    <input type="checkbox" id="Online" name="Online" value="Online" />
                    <label for="Online">Online Campus</label><br />
                </div>
            </form> <!--Initial Form ends here.-->
            <br />
            <h4>Please insert the courses you have completed here. </h4>
            <!--This BlazoredTypeahead tag instead searches based on Courses, it is a multi select so you can selected multiple completed courses.-->
            <!--Bind values are the courses that were selected-->
            <BlazoredTypeahead SearchMethod="SearchCourses"
                               @bind-Values="SelectedCourse"
                               Disabled="IsItDisabled"
                               EnableDropDown="true"
                               placeholder="Please enter a course...">
                <SelectedTemplate Context="course">
                    <!--What the search will return when strings are inputted.-->
                    @course.CourseCode (@course.Name)
                </SelectedTemplate>
                <ResultTemplate Context="course">
                    <!--What will be shown after selection of a course.-->
                    @course.CourseCode (@course.Name)
                </ResultTemplate>
            </BlazoredTypeahead>

            <input type="submit" value="Submit">
        </div>
    </section>
</div>
<hr /> <!--Another Horizontal Line to break up the page-->
<div class="center-button">
    <!--A div with a login button for admins.-->
    <button class="button-for-admin" @onclick="ToggleAdminLogin">Admin Login</button>
</div>
<div>
    <!--A Div and section that is dedicated to showing the admin login, this is so admins can access the backend of the system.-->
    <section style="display:@ShowAdminLogin">
        <h4 class="heading-for-landing">Please login below. (IN WORK)</h4>
        <hr />
        <div class="login-center">
            <form action="login" method="POST">
                <!--username and password inputs as well as two buttons for submit and reset.-->
                <label class="login-box-ui" for="username">Username: </label>
                <input type="text" id="username" name="username" />
                <label class="login-box-ui" for="password">Password: </label>
                <input type="password" id="password" name="password" />
                <hr />
                <input id="btn" type="submit" value="Login" name="button" />
                <input id="btn" type="reset" value="Reset" />
            </form>
        </div>
        <hr />
    </section>
</div>
<div class="additional-information">
    <!--Additonal information at the bottom of the page.-->
    <h4>Information regarding this Project</h4>
    <p>You can do this!</p>
</div>


<DegreePlan DegreeID=1 />


@code {
    protected override async Task OnInitializedAsync() //This will run when the page is ran.
    {
        Degrees = await degreeService.GetAllDegreesAsync(); //Grabs all the degrees from the database.
        Courses = await courseService.GetAllCoursesAsync(); //Grabs all of the courses from the database.
    }


    //This function will find courses based on what string is passed into the function.
    private async Task<IEnumerable<Course>> SearchCourses(string search)
    {
        return await Task.FromResult(Courses.Where(x => x.CourseCode.ToLower().Contains(search.ToLower()) || x.Name.ToLower().Contains(search.ToLower())).ToList());//Finds courses based on if they contain the string in their name or course code.
    }
    //This function will find degrees based on the string that is passed in.
    private async Task<IEnumerable<Degree>> SearchDegrees(string search)
    {
        return await Task.FromResult(Degrees.Where(x => x.Name.ToLower().Contains(search.ToLower())).ToList()); //It will return degrees that contain the string in its name.
    }

    private async Task<IEnumerable<Major>> SearchMajors(string search)
    {
        if (SelectedDegree == null)
        {
            return new List<Major>();
        }
        return await Task.FromResult(Majors.Where(x => x.Name.ToLower().Contains(search.ToLower()) && x.DegreeID == SelectedDegree.DegreeID).ToList()); //It will return degrees that contain the string in its name.
    }


    protected IEnumerable<Degree> Degrees { get; set; } //IEnumerables of degrees and courses to hold the databases.
    protected IEnumerable<Course> Courses { get; set; }
    protected IEnumerable<Major> Majors { get; set; }
    private IList<Course> SelectedCourse; //This is the list of selected Courses from the search results above.
    private Degree SelectedDegree; //This is the selected degree from the search results above.
    private string ShowAdminLogin => IsAdminLoginThere ? "block" : "none"; //This string will ensure if the admin login frame will show or not.
    private String Username;
    private bool IsItDisabled;
    private bool IsAdminLoginThere = false; //This bool will be a checker to see if the Admin Login should appear or not.

    //This function is here so it can toggle the admin button when the admin login button is hit.
    private void ToggleAdminLogin()
    {
        IsAdminLoginThere = !IsAdminLoginThere;
    }

}



