@inject CourseService courseService
@using Chronos.Shared.Enums;
@using Chronos.Shared.Modals;
<button class="@tileClass @typeClass" draggable="true" @ondragstart="@HandleDragStart" @onclick="Clicked"
        ondragover="event.preventDefault()"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave"
        @ondragend="HandleDragEnd">

    @if (CompletedFlag)
    {
        //This tile is in the completed box
        <div style="width:100%;">
            CourseID: @Data.Course.CourseCode
            Description: @Data.Course.Name
            Units: @Data.Course.Units
            Treated as: @Data.TileType;
        </div>
    }
    else if (Data.Course is null)
    {
        @if (Data.TileType == TileType.Core)
        {
            //Core Course -- Should never go down this path
            <h3>Error</h3>
        }
        else
        {
            //Directed Course or Elective
            <h1 class="plusSign">
                <img src="../Images/PlusSign.png" />
            </h1>
        }
    }
    else
    {

        //Course

        //---------------------------------------
        //This piece of code will get the data from database and show to user
        //Some Inline CSS to make it work
        //--------------------------------------------


        <div class="courseCode">

            @*---------------------------------------------
                //This div is to show course code on top of the tile
                //hr tag margin 0 to remove the white space in between the line
                ---------------------------------------------*@

            <h7> @Data.Course.CourseCode </h7>
            <hr style="margin-bottom:0px; margin-top:0px;" />
        </div>


        <div class="courseName">

            @*--------------------------------------------------
                //This div is to show the course name
                //Inline css and external ccs reference done here to change effect while hover on
                ---------------------------------------------------*@

            <p style="font-size:10.8px;"> @Data.Course.Name </p>
        </div>



        <div class="courseDes">

            @*//---------------------------------------------------
                //This piece of code is to show Units, Semester and available campus
                //Div looping to make it organise
                //Using Inline flex and with that float to use 2 divs in the same line and locate that left or right
                //hr margins are used for removing the white space
                //---------------------------------------------------*@

            <div>
                <hr style="margin-bottom:0px; margin-top:-15px;" />
                <div style="word-wrap:break-word; white-space:nowrap;">
                    <div>
                        <p style="font-size:12px; display:block; float:inline-start"><b> Units: @Data.Course.Units</b> </p>
                    </div>
                    <div>
                        @*//----------------------------------------
                            //Can put letter wrap or overflow wrap to Anywhere/Break-word when testing data will be modified to test multiple sems and location
                            //Delete this comment before final submission
                            //-----------------------------------------*@
                        <p style="font-size:12px; display: block; float: inline-end;"><b>@Data.Runtime</b> </p>
                    </div>

                    @*//-------------------------------------------------
                        //This br tags are blocking the white spaces
                        //-------------------------------------------------*@

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                </div>
            </div>
        </div>
    }

</button>

@code {

        [CascadingParameter]
        DegreePlan Plan { get; set; }

        [CascadingParameter]
        TileSlot Slot { get; set; }

        [Parameter]
        public TileData Data { get; set; }

        [Parameter]
        public bool CompletedFlag { get; set; } = false;

        //[Parameter]
        //public string Width { get; set; } = "200px";

        //private string Height = "100px";

        [CascadingParameter] public IModalService Modal { get; set; }

    private string tileClass = "Tile"; //CSS class based on TileType
    private string typeClass; //CSS class based on TileType

    protected override void OnParametersSet()
    {
        if (CompletedFlag)
        {
            tileClass = "CompletedCourse";
        }
        UpdateTileType();
    }
    public void UpdateTileType()
    {
        if (Data.Status == 0)
        {
            switch (Data.TileType)
            {
                case TileType.Core:
                    typeClass = "Core";
                    break;
                case TileType.Directed:
                    if (Data.Course is null)
                    {
                        typeClass = "AddDirected";
                    }
                    else
                    {
                        typeClass = "Directed";
                    }

                    break;
                case TileType.Elective:
                    if (Data.Course is null)
                    {
                        typeClass = "AddElective";
                    }
                    else
                    {
                        typeClass = "Elective";
                    }
                    break;
            }
        }

        if (CompletedFlag == false)
        {
            if ((Data.Status & (ErrorStatus.MissingPrerequisite | ErrorStatus.WrongCampus | ErrorStatus.WrongSemester | ErrorStatus.MissingSiblingCourse)) > 0)
            {
                typeClass = "Error";
            }
            else if ((Data.Status & ErrorStatus.MissingAssumedKnowledge) > 0)
            {
                typeClass = "Warning";
            }
        }
    }


    async void Clicked()
    {
        if (Data.Course is not null)
        {
            var parameters = new ModalParameters();
            var url = "https://www.newcastle.edu.au/course/" + Data.Course.CourseCode;
            parameters.Add("url", url);
            var options = new ModalOptions()
            {
                Position = ModalPosition.Center,
                Animation = ModalAnimation.FadeInOut(0.5),
                //ContentScrollable = true,
                Class = "Tile-Modal"
            };
            Modal.Show<IFrame>(Data.Course.CourseCode, parameters, options);
        }
        else
        {
            var parameters = new ModalParameters();
            parameters.Add("Plan", Plan);
            parameters.Add("InputSem", Slot.BlockType);
            var options = new ModalOptions()
            {
                Position = ModalPosition.Center,
                Animation = ModalAnimation.FadeInOut(0.5),
                //ContentScrollable = true,
                Class = "Tile-Modal"
            };

            IModalReference form = null;
            if (Data.TileType == TileType.Elective)
            {
                form = Modal.Show<AddElectiveModal>("Add an Elective Course", parameters, options);

            }
            else if (Data.TileType == TileType.Directed)
            {
                //Directed course
                form = Modal.Show<AddDirectedModal>("Add a Directed course", parameters, options);

            }

            var result = await form.Result;

            if (!result.Cancelled)
            {
                Data.Course = (Course)result.Data;
                UpdateTileType();
                StateHasChanged();
            }

        }
        //If null, open menu to add a course to it
    }

    private void HandleDragStart()
    {
        //Pass values back to plan
        Plan.DragPayload = Data;
        Plan.DragFrom = Slot.Tiles;
        Plan.BlockTypeFrom = Slot.BlockType;

        //Show ghost tiles
        Plan.ShowGhostTiles();

    }

    private void HandleDragEnd()
    {
        //Hide ghost tiles
        Plan.HideGhostTiles();
    }


    string dropClass = "";

    private void HandleDragEnter()
    {
        if (Data != Plan.DragPayload)
        {
            dropClass = "droppable";
        }
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";
        if (Data == Plan.DragPayload) return;
        await Plan.UpdateDegreePlanAsync(Slot.Tiles, Data, Slot.BlockType);
    }




}
