@inject CourseService courseService
@using Chronos.Shared.Enums;
@using Chronos.Shared.Modals;

<div class="@tileClass @typeClass @errorClass" draggable="true" @ondragstart="@HandleDragStart" @onclick="Clicked"
        ondragover="event.preventDefault()"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave"
        @ondragend="HandleDragEnd">

    @if (CompletedFlag)
    {
        //This tile is in the completed box
        <div style="width:100%;">
            CourseID: @Data.Course.CourseCode
            Description: @Data.Course.Name
            Units: @Data.Course.Units
            Treated as: @Data.TileType;
        </div>
    }
    else if (Data.Course is null)
    {
        @if (Data.TileType == TileType.Core)
        {
            //Core Course -- Should never go down this path
            <h3>Error</h3>
        }
        else
        {
            //Directed Course or Elective
            <div class="plusSign">+</div>
        }
    }
    else
    {


        //Non Compulsory
        @if (!Data.TileType.Equals(TileType.Compulsory) && !Data.TileType.Equals(TileType.Core))
        {

            <div class="TrashButton" @onclick="trashButton" @onclick:stopPropagation="true">
                <p>X</p>
            </div>
        }
        <div class="ErrorSymbol">
            @if ((ErrorStatus.MissingAssumedKnowledge & Data.Status) > 0)
            {
            <div class="WarningTip Tooltip">
                <span class="ToolTipText">Missing Assumed Knowledge: </span>
            </div>
            }
            @if ((ErrorStatus.MissingPrerequisite & Data.Status) > 0)
            {
            <div class="ErrorTip Tooltip">
                <span class="ToolTipText">Missing Pre-requisite: </span>
            </div>
            }
            @if ((ErrorStatus.MissingSiblingCourse & Data.Status) > 0)
            {
            <div class="SiblingTip Tooltip">
                <span class="ToolTipText">Missing sibling course: </span>
            </div>
            }
        </div>

        @if (Data.TileType != TileType.Compulsory && Data.TileType != TileType.Core)
        {

        <div class="TrashButton" @onclick="trashButton" @onclick:stopPropagation="true">
            <p>&#10006;</p>
        </div>
         } 

        //Course

        //---------------------------------------
        //This piece of code will get the data from database and show to user
        //Some Inline CSS to make it work
        //--------------------------------------------




            <div class="courseCode">
                @*---------------------------------------------
                    //This div is to show course code on top of the tile
                    //hr tag margin 0 to remove the white space in between the line
                    ---------------------------------------------*@
                <span> @Data.Course.CourseCode </span>
                <hr style="margin-bottom:0px; margin-top:0px;" />
            </div>
        



        <div class="courseName">

            @*--------------------------------------------------
                //This div is to show the course name
                //Inline css and external ccs reference done here to change effect while hover on
                ---------------------------------------------------*@

            <p style="font-size:13px;"> @Data.Course.Name </p>
        </div>

        <div class="courseDes">

            @*//---------------------------------------------------
                //This piece of code is to show Units, Semester and available campus
                //Div looping to make it organise
                //Using Inline flex and with that float to use 2 divs in the same line and locate that left or right
                //hr margins are used for removing the white space
                //---------------------------------------------------*@

            <div>
                <hr style="margin-bottom:0px; margin-top:-15px;" />
                <div style="word-wrap:break-word; white-space:nowrap;">
                    <div>
                        <span style="font-size:12px; display:block; float:inline-start"><b> Units: @Data.Course.Units</b> </span>
                    </div>
                    <div>
                        @*//----------------------------------------
                            //Can put letter wrap or overflow wrap to Anywhere/Break-word when testing data will be modified to test multiple sems and location
                            //Delete this comment before final submission
                            //-----------------------------------------*@
                        <span style="font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "><b>@semesterStringOut(Data.Runtime)</b> </span>
                    </div>

                    @*//-------------------------------------------------
                        //This br tags are blocking the white spaces
                        //-------------------------------------------------*@

                </div>
            </div>
        </div>
    }

</div>

@code {

    [CascadingParameter]
    DegreePlan Plan { get; set; }

    [CascadingParameter]
    TileSlot Slot { get; set; }

    [Parameter]
    public TileData Data { get; set; }

    [Parameter]
    public bool CompletedFlag { get; set; } = false;

    //[Parameter]
    //public string Width { get; set; } = "200px";

    //private string Height = "100px";

    [CascadingParameter] public IModalService Modal { get; set; }

    private string tileClass = "Tile"; //CSS class based on TileType
    private string typeClass; //CSS class based on TileType
    private string errorClass = ""; //Css class based on Errors. 

    protected override void OnParametersSet()
    {
        if (CompletedFlag)
        {
            tileClass = "CompletedCourse";
        }
        UpdateTileType();
    }
    public void UpdateTileType()
    {
        typeClass = "";

        if (Data.Status == 0)
        {
            errorClass = "";
            switch (Data.TileType) //Based on the tile type, it will set the typeClass accordingly. 
            {
                case TileType.Core:
                    typeClass += "Core";
                    break;
                case TileType.Compulsory:
                    typeClass += "Compulsory";
                    break;
                case TileType.Directed:
                    if (Data.Course is null)
                    {
                        typeClass += "AddDirected";
                    }
                    else
                    {
                        typeClass += "Directed";
                    }
                    break;
                case TileType.Elective:
                    if (Data.Course is null)
                    {
                        typeClass += "AddElective";
                    }
                    else
                    {
                        typeClass += "Elective";
                    }
                    break;
            }
        }

        if (CompletedFlag == false)
        {
            if (Data.Course is not null)
            {
                if (Data.Course.Units == 20) //Checks to see if it is a double course. 
                {
                    typeClass += " DoubleUnits";
                }
            }
            if ((Data.Status & (ErrorStatus.MissingPrerequisite | ErrorStatus.WrongCampus | ErrorStatus.WrongSemester | ErrorStatus.MissingSiblingCourse)) > 0) //Checks to see i fit has any errors. 
            {
                errorClass += " Error";
            }
            else if ((Data.Status & ErrorStatus.MissingAssumedKnowledge) > 0) //CHecks to see if it has any warnings. 
            {
                errorClass += " Warning";
            }
        }
    }

    //This is what will run when a course is clicked on. 
    async void Clicked()
    {
        if (Data.Course is not null) //If the course exists, it will show the University page for it. 
        {
            var parameters = new ModalParameters();
            var url = "https://www.newcastle.edu.au/course/" + Data.Course.CourseCode;
            parameters.Add("url", url);
            var options = new ModalOptions()
            {
                Position = ModalPosition.Center,
                Animation = ModalAnimation.FadeInOut(0.5),
                //ContentScrollable = true,
                Class = "Tile-Modal"
            };
            Modal.Show<IFrame>(Data.Course.CourseCode, parameters, options);
        }
        else //If the course does not, it will run a modal that will allow them to add either an elective or directed course. 
        {
            var parameters = new ModalParameters();
            parameters.Add("Plan", Plan);
            parameters.Add("InputSem", Slot.BlockType);
            var options = new ModalOptions()
            {
                Position = ModalPosition.Center,
                Animation = ModalAnimation.FadeInOut(0.5),
                //ContentScrollable = true,
                Class = "Tile-Modal"
            };

            IModalReference form = null;
            if (Data.TileType == TileType.Elective)
            {
                form = Modal.Show<AddElectiveModal>("Add an Elective Course", parameters, options);

            }
            else if (Data.TileType == TileType.Directed)
            {
                //Directed course
                form = Modal.Show<AddDirectedModal>("Add a Directed course", parameters, options);

            }

            var result = await form.Result;

            if (!result.Cancelled)
            {
                Data.Course = (Course)result.Data;
                Data.Runtime = await courseService.GetCourseRuntimeAsync(Data.Course.CourseID, Plan.Campus);
                await Plan.UpdateTileErrors(Data, Slot.Tiles);
                UpdateTileType();
                StateHasChanged();
            }

        }
        //If null, open menu to add a course to it
    }

    private void HandleDragStart()
    {
        //Pass values back to plan
        Plan.DragPayload = Data;
        Plan.DragFrom = Slot.Tiles;
        Plan.BlockTypeFrom = Slot.BlockType;

        //Show ghost tiles
        Plan.ShowGhostTiles();

    }

    private void HandleDragEnd()
    {
        //Hide ghost tiles
        Plan.HideGhostTiles();
    }


    string dropClass = "";

    private void HandleDragEnter()
    {
        if (Data != Plan.DragPayload)
        {
            dropClass = "droppable";
        }
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";
        if (Data == Plan.DragPayload) return;
        await Plan.UpdateDegreePlanAsync(Slot.Tiles, Data, Slot.BlockType);
    }

    private String semesterStringOut(CourseRuntime c)
    {
        String courseStr = c.ToString();
        String s = "Semesters: " + courseStr;

        s = s.Replace("Semester1", "1");
        s = s.Replace("Semester2", "2");

        return s;
    }

    //This will run when the button in the top right is clicked, deleting the data in the tile. 
    private void trashButton()
    {
        Data.Status = 0;
        Data.Course = null;
        UpdateTileType();
    }




}
