@inject CourseService CourseService
@using Models.Enums;
<div class="directed-modal">
    <div>
        @foreach (var item in CheckableEnums)
        {
            @if (item.DataPoint.Equals(InputSem))
            {
                <input type="checkbox" @bind-value="item.IsSelected" checked />
            }
            else
            {
                <input type="checkbox" @bind-value="item.IsSelected" />
            }

            <span> @item.DataPoint.ToString() &nbsp;</span>
        }
    </div>
    <BlazoredTypeahead SearchMethod="SearchCourses" @bind-Value="selectedCourse" placeholder="Please search for your elective course..." EnableDropDown="true">
        <SelectedTemplate Context="course">
            <!--This is the search Template and what will be returned.-->

            @if ((GetRuntime(course) & InputSem) > 0)
            {
                <span>@course.CourseCode</span> <span>(@course.Name)</span> <span>@GetRuntime(course)</span>
            }
            else
            {
                //Course does not run in this semester, show it as disabled
                <span>@course.CourseCode</span> <span>(@course.Name)</span> <span>@GetRuntime(course)</span>
            }

        </SelectedTemplate>
        <ResultTemplate Context="course">
            <!--This is what is shown when it is selected.-->
            @if ((GetRuntime(course) & InputSem) > 0)
            {
                <span>@course.CourseCode</span> <span>(@course.Name)</span> <span>@GetRuntime(course)</span>
            }
            else
            {
                //Course does not run in this semester, show it as disabled
                <span>@course.CourseCode</span> <span>(@course.Name)</span> <span>@GetRuntime(course)</span>
            }


        </ResultTemplate>
    </BlazoredTypeahead>

    <div style="color: red;">
        <p>@errorString</p>
    </div>

    <div style="width:100%; text-align: center">
        <button class="btn btn-primary" type="submit" style="margin-top: 20px;" @onclick="SubmitForm">Submit</button>
    </div>

</div>


@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    //[CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public DegreePlan Plan { get; set; }
    [Parameter] public CourseRuntime InputSem { get; set; }

    private Course selectedCourse;
    private String errorString = "";
    //private IEnumerable<Course> courses;



    //========== CHECKBOX MANAGEMENT ==========
    //http://5.9.10.113/66851989/bind-each-value-of-an-enum-to-a-checkbox-blazor
    private class CheckableEnum
    {
        public CourseRuntime DataPoint { get; set; }
        public bool IsSelected;
    }
    public CourseRuntime SumValue { get; set; }



    List<CheckableEnum> CheckableEnums { get; set; } = new List<CheckableEnum>();
    protected override void OnInitialized()
    {
        foreach (var DPvalue in Enum.GetValues(typeof(CourseRuntime)))
        {
            CheckableEnum e = new CheckableEnum() { DataPoint = (CourseRuntime)DPvalue };
            if (DPvalue.Equals(InputSem))
            {
                e.IsSelected = true;
            }
            CheckableEnums.Add(e);
        }
    }

    private CourseRuntime GetSemesterSelections()
    {
        CourseRuntime ret = 0;
        foreach (CheckableEnum x in CheckableEnums)
        {
            if (x.IsSelected)
            {
                ret |= x.DataPoint;
            }
        }

        //If no filters, set to everything
        return ret;
    }

    private CourseRuntime GetRuntime(Course c)
    {
        if (c == null)
        {
            return 0;
        }
        return CourseService.GetCourseRuntimeAsync(c.CourseID, Plan.Campus).GetAwaiter().GetResult();
    }

    //========== SEARCH MANAGEMENT ==========

    private async Task<IEnumerable<Course>> SearchCourses(string search)
    {
        if (Plan.Degree == null)
        {
            return new List<Course>();
        }

        IEnumerable<Course> courses = await CourseService.GetAllCoursesAsync();
        if (GetSemesterSelections() <= 0)
        {
            return courses;
        }
        //Get all courses that relate to search
        IEnumerable<Course> ret = await Task.FromResult(courses.Where(x => (x.CourseCode.ToLower().Contains(search.ToLower()) || x.Name.ToLower().Contains(search.ToLower())) && !Plan.ContainsCourse(x)));

        //Sort and trim
        ret = ret.OrderBy(x => x.CourseCode).ToList(); //It will return degrees that contain the string in its name.



        //Remove courses not in the selected semesters
        CourseRuntime sem = GetSemesterSelections();
        ret = ret.Where(x => (GetRuntime(x) & sem) > 0);

        if (ret.Count() > 10)
        {
            //Trim the list to 10
            ret = ret.ToList().GetRange(0, 10);
        }

        return ret;
        //Remove courses already in the plan
        ////Commented out as they will be disabled later
        //IEnumerable<Course> currentCourses = Plan.getAllCourses();
        //ret = ret.Except(currentCourses);

        //Order and convert to list



    }


    void SubmitForm()
    {
        errorString = "";
        if (selectedCourse == null)
        {
            errorString = "You need to specify an input";
        }

        else if ((GetRuntime(selectedCourse) & InputSem) > 0)
        {
            ModalInstance.CloseAsync(ModalResult.Ok(selectedCourse));
        }
        else
        {
            //Wrong Semester
            errorString = selectedCourse.CourseCode + " does not run in " + InputSem;
        }
    }
}
